@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@import "swiper/css/bundle";
@import "swiper/css/effect-coverflow";
@import "swiper/css/navigation";
@import "swiper/css/autoplay";



:root{
    --hero-gradient: linear-gradient(
    180deg,
    #c4d4ff 5%,
    #e7e4f2 20%, 
    #c2cff8 65%,
    #d5d0e9 85%,
    #c4d4ff 100%
  );

    --about-hero-gradient: linear-gradient(
        144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%
    );

    --talents-gradient: linear-gradient(
    250deg,
     #eee4e4 20%,
     #51dee5 50%,
     #b7b2ce 70%
    );

    --talents-gradientmobile: linear-gradient(
    250deg,
     #f5eeee 20%,
     #51dee5 30%,
     #ccc9d6 50%
    );

    --mvpuploadgradient: linear-gradient(
        250deg,
        #51dee5 30%,
        #ccc9d6 50%
    );

    --talentsreviewgradient: linear-gradient(
        250deg,
        #4edbe2 30%,
        #c4c0cf 50%
    );

    --talentsreviewgradientmobile: linear-gradient(
        250deg,
        #d9dce9 30%,
        #c9c8ce 50%
    );


    --swiper-button-next: url('/arrowright.svg');
      
}

body{
    font-family: "Inter", sans-serif;
    
}

.swiper-button-next::after{
    content: url('/testimonyright.png');
}

.swiper-button-prev::after{
    content: url('/testimonyleft.png');
}

.swiper-button-next, .swiper-button-prev{
    bottom:0;
    top: 300px;
    scale: 0.6;
    transform: translateX(-45%);
    -webkit-transform: scale(0.6);
    -webkit-transform: translateX(-45%);
}

#swiper-slide{
    background-color: white !important;
}

.swiper-button-prev {
    left: calc(50% - 30px);
}

.swiper-button-next {
    right: calc(50% - 70px);
}

.abouthero {
    background: var(--about-hero-gradient);
}

::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-track{
    background: #e2dfdf;
}

::-webkit-scrollbar-thumb{
    background: #D9D9D9;
    border-radius: 2px;
}

.talentsgradient{
    background: var(--talents-gradient);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mvpuploadgradient{
    background: var(--mvpuploadgradient);
}

.talentsreviewgradient {
    background: var(--talentsreviewgradient);
}

.talentsreviewgradientmobile {
    background: var(--talentsreviewgradientmobile);
}

@media screen and (max-width: 768px) {
    .talentsgradient{
        background: var(--talents-gradientmobile)
    }
}

